@page
@model Store.Pages.Clients.EditModel
@{
}


<h1>Update data</h1>
<form method="post">


    <div class="row mb-3">
        <label class="col-sm-3">Name: </label>
        <div class="col-sm-6">
            <input type="text" name="name" value="" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Email: </label>
        <div class="col-sm-6">
            <input type="text" name="email" value="" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Phone: </label>
        <div class="col-sm-6">
            <input type="text" name="phone" value="" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-sm-3">Address: </label>
        <div class="col-sm-6">
            <input type="text" name="address" value="" class="form-control" />
        </div>
    </div>
    <div class="row mb-3">
        <div class="offset-3 col-sm-3">
            <button class="btn btn-primary" type="submit">Submit</button>
        </div>
        <div>
            <button class="btn btn-danger" type="reset">Cancel</button>
        </div>
    </div>
  </form>